:root {
  --color-brand-primary: #be0000;
  --color-brand-primary-rgb: rgb(190, 0, 0);
  --color-brand-primary-s10: #ab0000;
  --color-brand-primary-s20: #980000;
  --color-brand-primary-o25: rgba(var(--color-brand-primary-rgb), 0.25);
  --color-brand-secondary: #ff2828;
  --color-brand-secondary-rgb: rgb(255, 40, 40);
  --color-brand-secondary-s10: #e62424;
  --color-brand-secondary-s20: #cc2020;
  --color-brand-dark: #0b1928;
  --color-brand-light: #ffffff;
  --color-brand-light-s10: #e6e6e6;
  --color-brand-light-s20: #cccccc;
  --color-gray-1: #b4b4b934;
  --color-gray-2: #707070;
  --color-gray-3: #d8d5d5;
  --color-gray-4: #28282dba;
  --color-gray-5: #28282d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-brand-light);
  font-family: 'Hurme Geometric', Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: var(--color-brand-secondary-rgb);
}

a:hover {
  color: var(--color-brand-primary-rgb);
}

#header {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 70px;
}

.btn-brand-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--color-brand-light);
  --bs-btn-bg: var(--color-brand-primary);
  --bs-btn-border-color: var(--color-brand-primary);
  --bs-btn-hover-color: var(--color-brand-light);
  --bs-btn-hover-bg: var(--color-brand-primary-s10);
  --bs-btn-hover-border-color: var(--color-brand-primary-s10);
  --bs-btn-active-color: var(--color-brand-light);
  --bs-btn-active-bg: var(--color-brand-primary-s20);
  --bs-btn-active-border-color: var(--color-brand-primary-s20);
}

.btn-brand-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--color-brand-light);
  --bs-btn-bg: var(--color-brand-secondary);
  --bs-btn-border-color: var(--color-brand-secondary);
  --bs-btn-hover-color: var(--color-brand-light);
  --bs-btn-hover-bg: var(--color-brand-secondary-s10);
  --bs-btn-hover-border-color: var(--color-brand-secondary-s10);
  --bs-btn-active-color: var(--color-brand-light);
  --bs-btn-active-bg: var(--color-brand-secondary-s20);
  --bs-btn-active-border-color: var(--color-brand-secondary-s20);
}

.btn-brand-light {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--color-brand-primary);
  --bs-btn-bg: var(--color-brand-light);
  --bs-btn-border-color: var(--color-brand-light);
  --bs-btn-hover-color: var(--color-brand-primary);
  --bs-btn-hover-bg: var(--color-brand-light-s10);
  --bs-btn-hover-border-color: var(--color-brand-light-s10);
  --bs-btn-active-color: var(--color-brand-primary);
  --bs-btn-active-bg: var(--color-brand-light-s20);
  --bs-btn-active-border-color: var(--color-brand-light-s20);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-brand-primary);
}

.form-control:focus {
  border-color: var(--bs-danger-border-subtle);
  box-shadow: 0 0 0 0.25rem var(--color-brand-primary-o25);
}

.nav-tabs .nav-link:not(.active) {
  border: var(--bs-nav-tabs-border-width) solid var(--color-brand-secondary);
}

.nav-tabs .nav-link:not(.active):hover {
  color: var(--color-brand-primary);
}

.nav-tabs {
  --bs-nav-tabs-border-color: transparent;
  --bs-nav-tabs-link-active-bg: var(--color-brand-primary);
  --bs-nav-tabs-link-active-color: var(--color-brand-light);
  --bs-nav-tabs-link-active-border-color: var(--color-brand-primary);
}

.nav-link {
  --bs-nav-link-color: var(--color-brand-secondary);
}

.dropdown-toggle::after {
  margin-left: 0.5rem;
  vertical-align: 0.1em;
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
}

.bg-brand-primary {
  background-color: var(--color-brand-primary);
  color: var(--color-brand-light);
}

.text-brand-light {
  color: var(--color-brand-light);
}

.pagination {
  --bs-pagination-color: var(--color-brand-dark);
  --bs-pagination-hover-color: var(--color-brand-primary);
  --bs-pagination-active-bg: var(--color-brand-primary);
  --bs-pagination-active-border-color: var(--color-brand-primary);
  --bs-pagination-focus-color: var(--color-brand-primary);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--color-brand-primary-o25);
}

.brand-tooltip {
  --bs-tooltip-bg: var(--color-brand-primary);
  --bs-tooltip-color: var(--color-brand-light);
}
